video{
    max-width: 1000px;
    
}


#rytir{
    background: url(./obrazky/Akvaristikareklamnivideofinal_\ Vytvořeno\ pomocí\ aplikace\ Clipchamp.mp4);
    align-items: center;
    display: flex;
    justify-content: center;
}
/*jupiiiiiii*/